//left side background
.main-bg {
    height: 100%;
    background: linear-gradient(180deg, $color-primary 50%, $body-bg 50%);
    padding-top: 2.5rem;
}

//panel 
.panel {
    margin-top: 1.5rem;
    &-heading {
        text-align: center;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 700;
    }
    &-list {
        margin-top: 3rem;
        &_item {
            font-size: 1rem;
            i {

                margin-right: 1.6rem;
            }
            span {
                color: #C0C0C0;
                font-weight: bold;
                &:hover {
                    color: $color-primary;
                }
            }


        }
    }

}

//vue-router link
.router-link-active,
.router-link-exact-active span {
    color: $color-primary !important;
    text-decoration: none !important;
}

//icons
.desktop {
    color: $color-primary;
}

.cog {
    color: #F5365C;
}

.globe {
    color: #6B6AE4;
}

.shake {
    color: crimson;
}

.other {
    color: darkviolet;
}

a:hover {
    text-decoration: none !important;
}

.Dashboard-heading {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .3rem;
}

//Dashboard panels
.info {
    margin-top: 4rem;
    &-row {
        background-color: #ffffff;
        margin: 0 0 .5rem 1em !important;
        padding: 1rem 1.9rem 0rem 1rem;
        border-radius: .5rem;
    }
    &-right {
        &_name {
            color: #A9A9A9;
            font-weight: bold;
            font-size: .9rem;
        }
        &_count {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: -1rem;
        }

    }
    &-left {
        &_icon {
            font-size: 2.2rem;
            padding-right: 1rem !important;
        }
        &_origin {
            font-size: .9rem;
            text-transform: capitalize;
            font-style: italic;
        }
    }
}

//dropdown
.vue-dropdown{
    position: relative;
    top:-1.2rem;
    cursor: pointer;
 &_item{
    position: absolute;
    background-color:$body-bg;
    border-radius: .8rem;
    margin-top: .3rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index:2000 !important;
  width:100%;
     &::before{
         background: #fff;
    box-shadow: none;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    right: 26px;
    position: absolute;
    bottom: 100%;
    transform: rotate(-45deg) translateY(12px);
    z-index: -5;
    border-radius: 2px;
     }
    &_list{
         display: block;
    color: black;
        
            padding: .5rem .5rem .5rem 1.1rem;
    &:hover{
        text-decoration: none;
        background: rgba(0,0,0,0.1);
        color:black;
        cursor: pointer;
    }
        i{
            padding-right: .5rem;
        }
    }
}
}
.dropdown-img{
    border-radius: 50%;
    width:2.6rem;
}
.vue-dropdown-menu{
    &_name{
        color:#ffffff;
        font-size:.9rem;
        padding-left: .3rem;
        font-weight: 700;
        font-style: italic;
    }
}
.vue-dropdown_up{
    margin: .3rem 0rem .3rem 0rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.text-user{
    color:black;
    &:hover{
         color:black;
    }
}

//welcome navabr
.main-navbar{
    background-color: #2D395D;
    height: 4rem;
    width:100%;
    
    .vue-dropdown{
    top:-.4rem ;
    }
}



.header {
        width: 100%;
  height: 85vh;
  overflow: hidden;
    &_text-box{
        color: #ffffff;
    position: absolute;
    top: 53%;
    left: 21%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:30rem;
    }
    &-para{
        font-size:1.3rem;
    }
    &-btn{
        color:#2D395D !important;
        border-color: #ffffff !important;
        background-color: #ffffff !important;
        font-weight: 700 !important;
        transition: all .2s;
        &:hover,&:active{
            color:#ffffff !important;
        border-color: #5CDB95 !important;
        background-color: #5CDB95 !important;
        }
    }
}

.heading-primary_main {
  display: block;
  line-height: 5rem;
  letter-spacing: .1rem;
    font-weight:bold;
    text-transform: capitalize;
}

.heading-primary_sub {
  display: block;
  font-size: 2.5rem;
  letter-spacing: .1rem;
    font-weight:bold;
    
}

.user-profile
{
background-color: #ffffff;
 -webkit-box-shadow: 0 1rem 2rem rgba(black,.2);
    box-shadow: 0 1rem 2rem rgba(black,.2) !important;
    padding: 2rem;
    position: relative;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 5rem;
    img{
        width: 10rem;
        border-radius: 50%;
    transform: translate(-50%,-70%);
    position: absolute;
    left: 50%;
    -webkit-box-shadow: 0 1rem 2rem rgba(black,.1);
    box-shadow: 0 1rem 2rem rgba(black,.4) !important;
    transition: all .30s ease;
        cursor: pointer;
        &:hover{
            transform: translate(-50%,-73%);
            opacity: .7;
        }
       
    }
    &_img{
        margin-bottom: 4rem;
        
        
    }
    &_info{
        margin-bottom: 1.5rem;
    }
}

input[type="file"]
{
  display: none;
}
.fileUpload input.upload 
{
    display: inline-block;
}

.btn-avatar{
    margin-top: 5rem;
    color:red;
    cursor: pointer;
    font-weight: 700;
    input{
        cursor: pointer;
        color:red;
    }
}
.main-header{
    background:linear-gradient(to right bottom, rgba(42, 43, 88, 0.7), rgba(42, 43, 88, 0.7)), url('https://images.unsplash.com/photo-1505236858219-8359eb29e329?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=830&q=80');
      background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
            width: 100%;
  height: 65vh;
  overflow: hidden;
    &_text-box{
          color: #ffffff;
    position: absolute;
    top: 42%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:35rem;
        text-align: center;
    }
    .heading-primary_main {
  display: block;
  line-height: 5rem;
  letter-spacing: .1rem;
    font-weight:bold;
    text-transform: capitalize;
}
    .header-para{
        font-weight: bold;
    }    


}
.modal-content{
.text-primary{
    color:#fff !important;
    }    
}
.timepicker-modal{
    max-height: 23.2rem !important;
}
.datepicker-modal{
    max-height: 23.5rem !important;
}



input[type=file] {
    display: block !important;
}

.form-btn:hover{
    color:#fff !important;
    background-color: #2D395D !important;
}
.input-field>label{
    font-size: 1.1rem !important;
        color:dimgray !important;
}

.desc{
    margin-top: -1.5rem;
}

.search{
    
    &-input{
    padding: .8rem;
  margin-top: .8rem;
  background: #ddd;
  font-size: 1.2rem;
  border: none;
        border-radius: 2rem;
        width:50%;
        &:focus{
            outline: none;
        }
}
    &-ul{
    position: absolute;
    z-index:10;    
        text-align: center;
        border-radius: 10rem;
        margin-left:15rem;
        width:44%; 
        list-style: none;
        
    }
    &-li{
        background-color: #ddd;
        z-index: 10;
        padding:.3rem;
        a{
            font-size: 1rem;
            color:#2D395D;
            font-weight: 700;
        }
        
    }
}

.event{
    position: relative;
    background-color:#fff;
    margin-bottom: 15rem;
    overflow: hidden;
    transition: all .4s ease;
    border-radius: .2rem;
    height: 23.5rem;
    &-heading{
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: .7rem;
    }
     &-text{
     padding: 1rem .3rem .2rem 1rem;   
    }
    &:hover{
        transform: scale(1.1);
         box-shadow: 0 0 15px rgba(0,0,0,.3);
    }
    &-img{
    img{
      width:100%;    
      }
    }

    &-time{
        p{
            color:#2D395D;
        font-size: 1rem;
            font-weight: 400;
        }
        
    }
    &-name{
        color:#000000;
        font-weight: 700;
        font-size: 1.3rem;
    }
    &-location{
        font-weight: 700;
        color:#696969;
        
    }
    &-btn{
         color:#ffffff!important;
        border-color: #2D395D  !important;
        background-color: #2D395D  !important;
        font-weight: 700 !important;
        transition: all .2s;
        &:hover,&:active{
            color:#ffffff !important;
        border-color: #5CDB95 !important;
        background-color: #5CDB95 !important;
        }
    }
   
}
.create-event{
    max-width:960px !important;
}
.event-panel{
    margin-bottom: -11rem;
}

.topic{
    background: #fff;
    background-clip: padding-box;
    background-size: cover;
    border: 1px solid rgba(46,62,72,.12);
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    min-height: 160px;
    padding: 16px 16px 0;
    position: relative;
    white-space: normal;
    &-name{
        font-weight: 700;
        color:#000000;
        font-size: 1.2rem;
        margin-top: .2rem;
    }
}
.tranding-event{
    margin-bottom: -15rem !important;
}