//left side background
.main-bg {
    height: 100%;
    background: linear-gradient(180deg, $color-primary 50%, $body-bg 50%);
    padding-top: 2.5rem;
}

//panel 
.panel {
    margin-top: 1.5rem;
    &-heading {
        text-align: center;
        color: $color-primary;
        font-size: 2rem;
        font-weight: 700;
    }
    &-list {
        margin-top: 3rem;
        &_item {
            font-size: 1rem;
            i {

                margin-right: 1.6rem;
            }
            span {
                color: #C0C0C0;
                font-weight: bold;
                &:hover {
                    color: $color-primary;
                }
            }


        }
    }

}

//vue-router link
.router-link-active,
.router-link-exact-active span {
    color: $color-primary !important;
    text-decoration: none !important;
}

//icons
.desktop {
    color: $color-primary;
}

.cog {
    color: #F5365C;
}

.globe {
    color: #6B6AE4;
}

.shake {
    color: crimson;
}

.other {
    color: darkviolet;
}

a:hover {
    text-decoration: none !important;
}

.Dashboard-heading {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .3rem;
}

//Dashboard panels
.info {
    margin-top: 4rem;
    &-row {
        background-color: $body-bg;
        margin: 0 0 .5rem 1em !important;
        padding: 1rem 1.9rem 0rem 1rem;
        border-radius: .5rem;
    }
    &-right {
        &_name {
            color: #A9A9A9;
            font-weight: bold;
            font-size: .9rem;
        }
        &_count {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: -1rem;
        }

    }
    &-left {
        &_icon {
            font-size: 2.2rem;
            padding-right: 1rem !important;
        }
        &_origin {
            font-size: .9rem;
            text-transform: capitalize;
            font-style: italic;
        }
    }
}

//dropdown
.vue-dropdown{
    position: relative;
    top:-1.2rem;
    cursor: pointer;
 &_item{
    position: absolute;
    background-color:$body-bg;
    border-radius: .8rem;
    margin-top: .3rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    z-index:2000 !important;
  width:100%;
     &::before{
         background: #fff;
    box-shadow: none;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    right: 26px;
    position: absolute;
    bottom: 100%;
    transform: rotate(-45deg) translateY(12px);
    z-index: -5;
    border-radius: 2px;
     }
    &_list{
         display: block;
    color: black;
        
            padding: .5rem .5rem .5rem 1.1rem;
    &:hover{
        text-decoration: none;
        background: rgba(0,0,0,0.1);
        color:black;
        cursor: pointer;
    }
        i{
            padding-right: .5rem;
        }
    }
}
}
.dropdown-img{
    border-radius: 50%;
    width:2.6rem;
}
.vue-dropdown-menu{
    &_name{
        color:#ffffff;
        font-size:.9rem;
        padding-left: .3rem;
        font-weight: 700;
        font-style: italic;
    }
}
.vue-dropdown_up{
    margin: .3rem 0rem .3rem 0rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}