// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//Components
@import 'components';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
//@import '~@fullcalendar/timegrid/main.css';
//@import '~@fullcalendar/list/main.css';

